/* Web Development - Final Project || BSIT 3-1 || Magno, Katherine | Nilooban, Nathaniel | Tegio, Irish */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    overflow-x: hidden;
}

.Background {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(106, 104, 104, 0.8)), url(PUP.jpg);
    background-size: cover;
    background-position: 0% 0%;
    padding-top: 10%;
}

.Background h1{
    font-size: 50px;
}

h1 {
    padding: 10px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 25px;
    margin-left: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    text-align: center;
}

.address, .email, .phone_number {
    background-color: #a30707;
    background-size: 50%;
    border-radius: 5px;
    border: 2px solid white;
    padding: 50px;
    color: white;
    margin-top: 30px;
}

.address p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.email p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.phone_number p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

#email_icon, #address_icon, #phone_number_icon {
    height: 50px;
    width: 50px;
}

header nav {  
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: white;
    font-size: 15px;
    padding: 30px 20px; 
    position: absolute;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    margin: 0 auto; 
}

nav span {
    display: flex;
    gap: 50px; 
    margin-right: 50px;
}

nav span a {
    text-decoration: none;
    color: white;
    position: relative;
}

@keyframes beforeAnimate {
    0%{
        width: 0%;
        transform: translateX(-50%);
    }
    100%{
        width: 100%;
        transform: translateX(0%);
    } 
}

header nav span a::before{
    content: "";
    background-color: white;
    width: 100%;
    height: 2.4px;
    position: absolute;
    bottom: -5px;
    left: 0px;
    display: none;
    animation: beforeAnimate .5s;
}

header nav span a:hover::before{
    display: unset;
}