/* Web Development - Final Project || BSIT 3-1 || Magno, Katherine | Nilooban, Nathaniel | Tegio, Irish */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    overflow-x: hidden;
}

.Background{

    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(106, 104, 104, 0.8)), url(PUP.jpg);
    background-size: cover;
    background-position: 50% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Background h1{
    color: white;
    font-size: 50px;
}

.ContactDetails {
    min-height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),rgba(80, 4, 4, 0.8));
    background-size: cover;
    background-position: 0% 0%;
    padding: 100px 120px;
    font-size: 16px;
}

.ContactDetails h1{
    padding: 30px 0px;
    font-size: 30px;
}

.logo img{
    width: 170px; 
    height: auto; 
    align-items: center;
}

header {
    color: white;
    background-color: #a30707; 
    padding: 20px 0; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    transition: background-color 0.3s ease; 
}

.header h1{
    font-size: 15px;
}

header.scroll {
    background-color: rgba(0, 0, 0, 0.8); 
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
}

.address, .email, .phone_number {
    background-color: #a30707;
    background-size: 50%;
    border-radius: 5px;
    border: 2px solid white;
    padding: 50px;
    color: white;
    margin-top: 30px;
}

.address p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.email p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

.phone_number p{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}

#email_icon, #address_icon, #phone_number_icon {
    height: 50px;
    width: 50px;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    margin: 0 auto; 
}

nav span {
    display: flex;
    gap: 50px; 
}

nav span a {
    text-decoration: none;
    color: white;
    position: relative;
}

@keyframes beforeAnimate {
    0%{
        width: 0%;
        transform: translateX(-50%);
    }
    100%{
        width: 100%;
        transform: translateX(0%);
    } 
}

header nav span a::before{
    content: "";
    background-color: white;
    width: 100%;
    height: 2.4px;
    position: absolute;
    bottom: -5px;
    left: 0px;
    display: none;
    animation: beforeAnimate .5s;
}

header nav span a:hover::before{
    display: unset;
}

.About{
    background-color: rgb(255, 251, 251);
    color: rgb(1, 1, 1);
    padding: 100px 120px;
    font-size: 16px;
}

.About h1{
    padding: 40px 0px;
    font-size: 30px;
}

.About p{
    padding: 18px 0px;
}

input[type="submit"] {
    background-color:transparent;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    
    .row {
        width: 100%;
    } 
}

@media only screen and (min-width: 1100px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    #column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
        text-align: center;
    }
}